<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.human.zero.domain.MemberVO" alias="member"/>
		<typeAlias type="com.human.zero.domain.OrderVO" alias="order"/>
		<typeAlias type="com.human.zero.domain.ReviewVO" alias="review"/>
		<typeAlias type="com.human.zero.domain.ReviewCommentVO" alias="comment"/>
		<typeAlias type="com.human.zero.domain.StatVO" alias="stat"/>
		<typeAlias type="com.human.zero.domain.CakeVO" alias="cake"/>
		<typeAlias type="com.human.zero.domain.OtherVO" alias="other"/>
	</typeAliases>

</configuration>